.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing:border-box ;
}

*, *::after, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  display:flex;
  flex-direction: column;
}

.head{
  position:fixed;
  display:flex;
  width:100%;
  height: 50px;
  z-index: 10;
  background-color: black;
}

.zonausuario{
  position: absolute;
  display:flex;
}

.divlogin{
  display:flex;
  border:solid 0.5px white;
  height: min-content;
}

.logologin{
  height: 1em;

}

.linklogin{
  text-decoration: none;
  color:white;
}

.divusuario{
  display:flex;
  border:solid 0.5px white;
  height: min-content;
}

.linkusuario{
  text-decoration: none;
  color:white;
}

.logousuario{
  height: 1em;
}


.divlogout{
  display:flex;
  border:solid 0.5px white;
  height: min-content;
}

.linklogout{
  text-decoration: none;
  color:white;
}

.logologout{
  height: 1em;
}


.nav{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width:min-content;
  border:solid blue 1px;
}

.menu{
  display:flex;
  justify-self: center;
  width:min-content;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border:solid pink 1.5px;
  overflow: hidden;
}

.logonav{
  margin-top: auto;
  margin-bottom: auto;
  width:3em;
  /* height: 100%; */
}


.menu-item{
  display:flex;
  border: solid red 0.5px;
  height: 100%;
  /* width: 100%; */
  overflow: hidden;
  width:min-content;
  background-color: black;
  
}

.menu-link{
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  border:solid black 0.5px;
  width: 100%;
  text-align: center;
  justify-items: center;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  margin-left: 0.45em;
  margin-right: 0.45em;
  bottom: 0;
  
}

.menu-link:hover{
  color: hsl(120,100%,50%);
  transition: ease 0.75s;
  /* color: hsl(120,50%,100%); */
}

.submenu{    
  /* position: relative; */
  /* top:100%;
  margin-left: 20%; */
  display:none;
  position:absolute;
  top:100%;
  transition: ease 0.75s;
  /* right:36%; */
  /* margin-left: 0%; */
  /* background-color: black; */
  
}

.submenu-link{
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  margin-left: 0.45em;
  margin-right: 0.45em;
  width: 130px; 
}

.submenu-link:hover{
  color:hsl(120,100%,50%);
  transition: ease 0.75s;
}

#iddesple:hover .submenu{
  display:block;
  transition: ease 0.75s;
}



.timer{
  display:flex;
  position:absolute;
  /* border:solid black 1px; */
  width: 16%;
  background-color: orange;
  color:blue;
  margin-left: 83.9%;
  flex-direction: column;
  margin-top: 3.1%;
}

.home{
  /* margin-top: 3.1%; */
  padding-top: 50px;
  background-color: red;
  width: 100%;
  height: 800px;

}

.usuariosmain{
  padding-top: 50px;
  width:100%;
  height: 800px;
  background-color: grey;
}

.usuariosdisplay{
  margin-top: 150px;
  width:100%;
  height: 700px;
  background-color: violet;
  display:flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;

}

.usuariox{
  width:350px;
  border:solid 1px black;
  height: 300px;
  display:flex;
}

.fotousuario{
  width:45%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.usuarioperfil{
  padding-top: 50px;
  background-color: pink;
  width: 100%;
  height: 1000px;
  display:flex;
  flex-direction: column;
}

.fotodelusuario{
  margin-top: 5%;
  width: 30%;
  height: 50%;
  border:black solid 1px;
  margin-left: auto;
  margin-right: auto;
}

.Teammain{
  padding-top: 60px;
  width:100%;
  background-color: grey;
}

.displayteam{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 90%;
  border: red 1px solid;
}

.logoteam{
  widows: 25%;
  height: 80px;
}

.displayplayers{
  border:black solid 1px;
  width: 90%;
}

.displayplayer{
  border:blue solid 1px;
  width:30%
}

.loading{
  margin-top:60px
}

.gridtalleres{
  margin-top: 50px;
  display:flex;
  border:red solid 1px;
}

.tallercard{
  display:flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  border:solid 1px black;
  margin-left: 1%;
  margin-right: 1%
}

.imgtaller{
  width:100%
  /* width:100%;
  height: 100%; */
}

.eltaller{
  margin-top: 50px;
}

.tallerind{
  margin-top:50px;
  width:40%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
  border: solid 1px black;
}

.fotodeltaller{
  width:90%;
  height: 50;
  margin-left: auto;
  margin-right: auto;
}

.carritocurso{
width:50%;
}

.cargandotalleres{
  margin-top:50px;
  display:flex;
}

.contenedorfoto{
  margin-left:auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display:flex;
}

.logoesperando{
  height: 50vh;
  position: absolute;
  margin:auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: App-logo-spin infinite 8s linear;
  /* POR ALGUNA RAZON ESTA IMAGEN NO QUERIA CENTRASE VERTICALMENTE ASI Q TUVE QUE ENCONTRAR ESTE HACK */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logocarrito{
  /* position:absolute; */
  display: flex;
  position:absolute;
  border:solid 1px white;
  text-decoration: none;
  color:white;
  background-color: black;
  /* right: 100%-3.5em; */
  right:0;
  margin-top: 0.45%;
  height: 70%;
  width:3.5em;
}

.carrito-main{
  margin-top: auto;
  margin-bottom: auto;
  height: 1.8em;
  width: 1.8em;
  margin-left: 7%;
}

.contentcompras{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
}


.btncomprar{
display:flex;
background: red;
border-radius: 15%;
width:25%;
height: 30px;
margin-left: auto;
margin-right: auto;
color:white;
transition: width 3s;
}

.carritoinside{
  width:25%;
  height: 85%;
  margin-top: auto;
  margin-bottom: auto;  
}

.textocontenido{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  text-size-adjust:inherit;
}

.cuadrologin{
  display:flex;
  flex-direction: column;
  width: 40%;
  height: min-content;
  border: solid black 1px;
  margin-top: 6em;
  margin-right: auto;
  margin-left: auto;
}

.login-logoibm{
  margin-top: 2em;
  width:50%;
  margin-right: auto;
  margin-left: auto;
}

.login-perfilcorreo{
  margin-top: 4em;
  width: 70%;
  display:flex;
  height: 2em;
  margin-right: auto;
  margin-left: auto;
  border: solid black 1px;
}

.login-lblcorreo{
  margin-top: auto;
  margin-bottom: auto;
  width:30%;
  text-align: right;
  margin-right: 0.25em;
}

.login-inputcorreo{
  height: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
  width: 20em;
}

.login-perfilpassword{
  display:flex;
  margin-top: 2em;
  width: 70%;
  height: 2em;
  margin-right: auto;
  margin-left: auto;
  border: solid black 1px;
}

.login-lblpassword{
  margin-top: auto;
  margin-bottom: auto;
  width:30%;
  text-align: right;
  margin-right: 0.25em;
}

.login-inputpassword{
  height: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
  width: 20em;
}

.login-confirmar{
  margin-top: 2em;
  width: 30%;
  height: 2em;
  margin-right: auto;
  margin-left: auto;
  border: solid black 1px;
}

.login-btnconfirmar{
  width: 100%;
  height: 100%;
}

.login-avisorespuesta{
  margin-top: 2em;
  width: 80%;
  height: 2em;
  margin-right: auto;
  margin-left: auto;
  border: solid black 1px;
  color:red;
  text-align: center;
}

.login-Registrarse{
  margin-top: 2em;
  width: 50%;
  height: 2em;
  margin-right: auto;
  margin-left: auto;
  border: solid black 1px;
  display:flex;
}

.login-linkregistrarse{
  text-decoration: none;
  color:black;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}


.login-returnhome{
  margin-top: 2em;
  width: 40%;
  height: 2em;
  margin-right: auto;
  margin-left: auto;
  border: solid black 1px;
  margin-bottom: 4em;
  display:flex;
  
}

.login-linkregresar{
  text-decoration: none;
  color:black;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

}


.miembro-display{
  display:flex;
  flex-direction: column;
  width: 40%;
  height: min-content;
  border: solid black 1px;
  margin-top: 6em;
  margin-right: auto;
  margin-left: auto;
}

/*#region slide*/

.slideshow{
  margin-right: auto;
  margin-left: auto;
  width:70%;
  height: 500px;
  border:solid 1px black;
  overflow: hidden;
  position:relative;
}

.slide_img{
  /* position:relative; */
  width: 100%;
  height: 100%;
  position:absolute;
  
}

.slide_img img{
  width: 100%;
  height: 100%;
}


#i1, #i2, #i3, #i4{
  display:none;
}

.navv{
  text-align: center;
  z-index: 999;
  bottom: 5%;
  position:absolute;
  text-align: center;
  width: 100%;
  height: 20px;
}

.dots{
  top:0px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  border-radius: 40%;
  display:inline-block;
  background-color:pink;
  cursor: pointer;
  transition: .5s;
}

.slide_img{
  z-index: -1;
}

#i1:checked ~ .navv #dot1,
#i2:checked ~ .navv #dot2,
#i3:checked ~ .navv #dot3,
#i4:checked ~ .navv #dot4
{
    background-color:grey;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four
{
    z-index:9;
    
    animation: fadeOutLeft 1.5s ease-in-out forwards;
    
    animation-fill-mode: initial;
    

}

#i1:not(:checked) ~ #one{

  z-index:9;
  animation:fadeOutRight 1.5s ease-in-out forwards;

}

#i2:not(:checked) ~ #two{


  z-index:9;

  animation: fadeOutRight 1.5s ease-in-out forwards;
} 

#i3:not(:checked) ~ #three{


  z-index:9;

  animation: fadeOutRight 1.5s ease-in-out forwards;
}

#i4:not(:checked) ~ #four{


  z-index:9;

  animation: fadeOutRight 1.5s ease-in-out forwards;
}

@keyframes fadeOutLeft {
  0% {
     /* opacity: 1; */
     transform: translateX(-100%);
     
  }
  100% {
     /* opacity: 0; */
     transform: translateX(0%);
     
     
  }
}


@keyframes fadeOutRight {

  0% {
      /* opacity: 1; */
      transform: translateX(0%);
      
   }
   100% {
      /* opacity: 0; */
      transform: translateX(100%);
      
      
   }

}

 /*#endregion*/

